@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* share style start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
p{
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    color: rgb(62, 62, 62);
}
.primary-btn{
    padding: 18px 34px;
    border-radius: 10px;
    font-size: 1rem;
    border: none;
    color: white;
    font-family: "Roboto", sans-serif;
    background: linear-gradient(180.00deg, rgb(61, 79, 243),rgb(53, 67, 188) 100%);
    cursor: pointer;
}
.primary-btn>i{
    margin-right: 10px;
}
/* share style start */
/* navbar section style start */
header{
    background: rgb(255, 249, 244);
}
nav{
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
}
nav>img{
    max-width: 290px;
    height: auto;
}
nav>ul{
    display: flex;
    gap: 40px;
}
nav>ul>li{
    list-style: none;
    font-size: 1rem;
}
/* navbar section style end */
/* banenr container style start */
.banner{
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    padding-bottom: 130px;
}
.banner-img{
    max-width: 500px;
}
.banner-img>img{
    width: 100%;
}
.banner-contant{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner-contant>h1{
    font-size: 5rem;
    color: rgb(48, 47, 47);
    margin-bottom: 10px;
    font-family: "Bebas Neue", sans-serif;
}
.banner-contant>h1>span{
    color: rgb(251, 110, 59);
}
.banner-btn{
    margin-top: 40px;
}
/* banenr container style end */
/* product section container start */
.product{
    margin: 0 auto;
    width: 80%;
}
.product>h1{
    margin: 50px 0;
    font-family: "Bebas Neue", sans-serif;
    font-size: 3rem;
    font-weight: 800;
}
.product-container{
    display: flex;
    justify-content: space-between;
}
.items{
    max-width: 340px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 30px;
}
.items>img{
    margin: 0 auto;
    display: flex;
    align-items: center;
    max-width: 300px;
}
.items>h2{
    margin-left: 20px;
    color: rgb(54, 57, 88);
    font-weight: 900;
    letter-spacing: 9%;
}
.items>p{
    margin-left: 20px;
    margin: 15px 0 20px 20px;
}
.buy-section{
    display: flex;
    justify-content: space-around;
    margin: 12px 0 23px;
}
.buy-section>a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    color: red;
}
/* product section container end */
/* shop-preview container section start */
.shop-preview{
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 130px;
    margin-bottom: 130px;
}
.preview-contant{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.preview-items{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    border-radius: 20px;
}
.preview-items>img{
    max-width: 80px;
    height: auto;
}
.preview-items-contant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}
.shop-img{
    width: 50%;
}
.shop-img>img{
    width: 100%;
}
/* shop-preview container section end */
/* mobile view responsive section style start  */
@media screen and (max-width:576px) {
    /* navbar container */
    nav{
        margin: 0 auto;
        width: 90%;
        padding-top: 20px;
    }
    nav>ul{
        display: none;
    }
    /* banner container section
    */
    .banner{
        margin: 0 auto;
        width: 90%;
        flex-direction: column-reverse;
        margin-top: 40px;
    }
    .banner-contant>h1{
        font-size: 3.5rem;
        margin-top: 10px;
    }
    /* product container */
    .product-container{
        flex-direction: column;
        gap: 50px;
    }
    /* shop preview container */
    .shop-preview{
        flex-direction: column-reverse;
    }
    .preview-items{
        flex-direction: column;
        align-items: center;
    }
    .shop-img{
        width: 100%;
        margin-bottom: 50px;
    }
}


/* mobile view responsive section style end  */